@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Literata", sans-serif;
  }

body {
    color: antiquewhite;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CDF0EA;
}

section .container {
    padding: 30px;
    background-color: #fffde6;
    border-radius: 15px;
    max-width: 500px;
    border: rgba(255, 255, 255, 0.4) solid thin;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
}

section h1 {
    font-size: 40px;
    color: #523109;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
}

.formforgot img {
    width: 100%;
    height: 70%;  
}


section .formforgot img {
    object-fit: cover;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

section .form-control {
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-color: #fffde6;
}

section .form-control div {
    position: relative;
}

section .form-control p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    color: #9a0404;;
}

section .form-control input {
    font-family:  "Literata" ,sans-serif;
    border-radius: 20px;
    border: 1px solid #7a6446;
    background-color: #ecc5fb;
    padding: 10px 0;
    margin-bottom: 10px;
    text-indent: 16px;
    width: 75%;
    color: black;
    outline: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


section .form-control h4 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    color: #7a6446;
}

section .form-control h4 span a {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    color: #ff0066;
    margin-bottom: 10px;
    cursor: pointer;
}

section .form-control button {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid #7a6446;
    width: 30%;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    border-radius: 20px;
    background-color: lightpink;
    color: black;
    font-weight: 500;
    padding: 3px 0;
    margin-top: 13px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
}

@media screen and (max-width: 767px) {
    section {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #CDF0EA;
    }
    section .container {
        margin: 12%;
        width: 100%;
    }
    section h1 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5%;
    }
    section .form-control {
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        background-color: #fffde6;
    }  
    section .form-control div {
        position: relative;
    }
    section .form-control button {
        display: flex;
        text-align: center;
        justify-content: center;
        border: 1px solid #7a6446;
        width: 40%;
        cursor: pointer;
        font-weight: 300;
        font-size: 13px;
        border-radius: 20px;
        background-color: lightpink;
        color: black;
        font-weight: 500;
        padding: 3px 0;
        margin-top: 13px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        transition: 500ms;

    }
    section .form-control input {
        width: 90%;
        height: 40px;
        border: 1px solid #7a6446;
        font-size: 15px;
        margin-bottom: 10px;
    }
    section .form-control p {
        font-size: 15px;
        width: 100%;
        padding: 2%;
        margin-bottom: 10%;
        justify-content: center;
    }
    .formforgot img {
        width: 100%;
        height: 90%;  
    }
    section .formforgot img {
        object-fit: cover;
        top: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    section .form-control h4 {
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: center;
        color: #7a6446;
    }
    section .form-control h4 span a {
        display: inline-block;
        font-size: 15px;
        text-decoration: none;
        font-weight: 600;
        color: #ff0066;
        margin-bottom: 10px;
        cursor: pointer;
    }
}
