:root {
	--primary: #EA40A4;
	--business: #3a82ee;
	--personal: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
	
}

input:not([type="radio"]):not([type="checkbox"]){
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

body.light-theme {
	background: #f9f7e6;
	color: var(--dark);
	height: 100vh;
}

body.dark-theme {
	background-color: #0A1D56;
	color: #ffffff;
	height: 100vh;
	.plan{
		background-color: #492E87;
	}
	header{
		background-color: #37B5B6;
	}
	.gif2{
		display: flex;
	}
	.gif{
		display: none;
	}
	ul li::before{
		background-image: url(/assets/dry-clean\ \(1\).png);
	}
	ul li.checked::before{
		background-image: url(/assets/verified\ \(1\).png);
	}
	ul li.checked{
		color: #a9a9a9;
	}
	ul li span{
		color: #ffffff;
	}
	ul li span:hover{
		color: #888;
	}
	.dateborder{
		border: 2px solid #ffffff;
	}
	.calendar{
		display: none;
	}
	.calendar2{
		display: flex;
		height: 20px;
		width: 20px;
		margin: 3%;
	}
	.todoApp{
		border: 2px solid #ffffff;
	}
	.todolistlogo-brown{
		display: none;
	}
	.todolistlogo-white{
		display: flex;
	}
	h2{
		color: #ffffff;
	}
	.logoutbtn{
		background-color: #F2F597;
	}
	::-webkit-scrollbar-track {
		background: #edeef0;
	}
	
	::-webkit-scrollbar-thumb {
		background-color: #37B5B6;
	}
}

section {
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}


h3 {
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

header {
	display: inline-block;
	background-color: #cdf0e4;
	height: 70px;
	vertical-align: middle;
	width: 100%;
  }


.todo{
	display: grid;
	grid-column: 2/12;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-top: 0%;
	padding-left: 2%;
	padding-right: 2%;
	overflow: auto;
	height: 80vh;
}
.date{
	grid-column: 1/2;
}
.dateborder{
	display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
	margin-top: 10%;
	margin-left: 8.5%;
	width: 45vh;
	height: 40px;
	border: 2px solid #523109;
	font-size: large;
}
.todolistlogo-brown{
	display: flex;
	width: 53%;
	margin: 0 0 0 25%;
}
.todolistlogo-white{
	display: none;
	width: 55%;
	margin: 0 0 0 25%;
}
.calendar{
	height: 20px;
	width: 20px;
	margin: 3%;
}
.calendar2{
	display: none;
}
.gif{
	display: flex;
	margin-top: 15%;
}
.gif img{
	height: 50%;
	width: 50%;
	margin-left: 25%;
}
.gif2{
	display: none;
	margin-top: 15%;
}
.gif2 img{
	height: 50%;
	width: 50%;
	margin-left: 27%;
}

.personal{
	border-radius: 20px;
	background-color: #3a82ee;
}
.plan{
	display: grid;
	grid-template-columns: 30% 50%;
	gap: 10px;
	border-radius: 30px;
	background-color: #ecc5fb;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 87vh;
}

.logo{
	width: 40px;
	height: 40px;
	float: left;
	margin: 1rem;
	margin-left: 2%;
}
.greeting .title {
	display: flex;
	vertical-align: middle;
	height: 29;
	margin: 20.5px 0 20.5px 0;
}

.greeting .title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.greeting .title, 
.greeting .title input {
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 700;
	vertical-align: middle;
}

.logoutbtn{
    background-color: #faf4b7;
    color: #523109;
    padding: 10px 50px 30px;
    margin: 0.8rem 5% 0 0;
	border: solid 2px;
    border-color: #523109;
    border-radius: 50px;
    cursor: pointer;
    width: 6%;
    opacity: 0.9;
    display: flex;
    justify-content: center;
	float: inline-end;
}
  
.logoutbtn:hover{
    background-color: #f3b9a1;
}
.logoutbtn2{
	display: none;
}

.slider{
	position: relative;
	display: flex;
    justify-content: center;
	float: inline-end;
	width: 5%;
	height: 32px;
	margin: 19px 5% 19px 0;
}
.slider input{
	display: none;
}
.slider .slider-track{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #faf4b7;
	border: 1px solid #523109;
	border-radius: 40px;
	transition: .4s;
	width: 100%;
}
.slider .slider-thumb{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
	border: 1px solid #523109;
	border-radius: 60px;
	transition: .4s;
	width: 4vh;
	height: 4vh;
	margin: 0.3vh;
}
.slider input:checked + .slider-track{
	background-color: #909090;
}
.slider input:checked + .slider-track .slider-thumb{
	transform: translateX(26px);
	background-color: #2b2b2b;
	margin-left: 22%;
	border-color:#2b2b2b;
}
.slider-label{
	margin-left: 10px;
}

.add{
	width: 4vh;
	font-size: 24px;
}

@media screen and (max-width: 767px) {

	body.dark-theme{
		.gif2{
			display: none;
		}
		.logoutbtn2{
			background-color: #F2F597;
		}
	}

	header{
		height: 4.5rem;
	}

	.greeting .title {
		display: flex;
		margin: 25px 0 0 0;
	}
	.greeting .title input {
		margin-left: 0.5rem;
		flex: 1 1 0%;
		min-width: 0;
	}
	.greeting .title, 
	.greeting .title input {
		color: var(--dark);
		font-size: 20px;
		font-weight: 600;
	}

	.todo{
		display: block;
		grid-column: 1/4;
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(1, 1fr);
		height: 100%;
	}
	.plan{
		margin-top: 10%;
		margin-bottom: 5%;
		height: 82vh;
		grid-template-columns: auto auto auto;
	}
	.date{
		display: block;
		text-align: center;
		margin-bottom: 0%;
	}
	.dateborder{
		display: none;
	}
    .gif{
		display: none;
	}
	.gif2{
		display: none;
	}
	.todolistlogo-brown{
		margin: 0 0 0 27%;
	}
	.todolistlogo-white{
		margin: 0 0 0 29%;
	}
	.logo{
		margin: 1rem 2vw 0 4vw ;
	}
	.addtext{
		width: 70%;
	}
	.add{
		width: 8vw;
	}

	.logoutbtn2{
		background-color: #faf4b7;
		color: #523109;
		padding: 10px 50px 30px;
		margin-left: auto;
		margin-right: auto;
		border: solid 2px;
		border-color: #523109;
		border-radius: 50px;
		cursor: pointer;
		width: 6%;
		opacity: 0.9;
		display: flex;
		justify-content: center;
	}
	  
	.logoutbtn2:hover{
		background-color: #f3b9a1;
	}

	.logoutbtn{
		display: none;
	}

	.slider{
		margin: 19px 4vw 0 0;
		width: 18vw;
		height: 9vw;
		float: right;
	}
	.slider .slider-track{
		width: 18vw;
	}
	.slider .slider-thumb{
		width: 7vw;
		height: 7vw;
		margin: auto 1vw auto 1vw;
	}
	.slider input:checked + .slider-track .slider-thumb{
		transform: translateX(6vw);
	}
	.bottombar{
		height: 10vh;
		padding-top: 1vh;
	}
}

.container {
    width: 100%;
    padding: 10px;
}

.todoApp {
    width: 100%;
    max-width: 540px;
    border: 2px solid #523109;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todoApp h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #523109;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
	height: 30px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    background: #cdf0e4;
    color: #5b8979;
    font-size: 16px;
	width: 13%;
    height: 15%;
    border-radius: 100%;
    cursor: pointer;
	box-shadow: 0 2px 5px #5b8979;
	height: 30px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: 12px;
    left: 8px;
    background-size: cover;
    background-position: center;
	background-image: url(/assets/dry-clean.png);
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(/assets/verified.png);
	height: 20px;
	width: 20px;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f9f7e6;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb {
	background-color: #cdf0e4;
	border-radius: 20px;
	border: none;
}

::-webkit-scrollbar-thumb:hover {
	background-color: none;
}
@media (max-width: 365px) {
	.greeting .title {
		display: flex;
		font-size: 16px;
		vertical-align: middle;
		margin: 27px 0 27px 0;
	}
  }